@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}        


.card-section:hover .card-hover-structure{
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
.card-section:hover{
    box-shadow:  #fdba74 0px 10px 20px, #FB923C  0px 6px 6px;
}

.card-section:hover .stock{
    transform: rotate3d(0, 0, 1, 360deg);
    transition: transform 1s;
}

.hide-element{
    visibility: hidden;
}

.card-section:hover .hide-element{
    visibility: visible;
}

/* Some Mandatory css code for slider arrows */
button.slick-arrow.slick-next {
    display: flex;
    align-items: center;
    background-color: red;
    right: 10px;
    z-index: 10;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

button.slick-arrow.slick-prev {
    display: flex;
    align-items: center;
    background-color: red;
    left: 5px;
    z-index: 20;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

@media only screen and (min-width: 0px) and (max-width: 400px){
    button.slick-arrow.slick-next {
        display: flex;
        align-items: center;
        background-color: red;
        right: 5px;
        z-index: 10;
        width: 30px;
        height: 30px;
        border-radius: 15px;
    }
    
    button.slick-arrow.slick-prev {
        display: flex;
        align-items: center;
        background-color: red;
        left: 10px;
        z-index: 20;
        width: 30px;
        height: 30px;
        border-radius: 15px;
    }
  }
  @media only screen and (min-width: 401px) and (max-width: 1050px){
    button.slick-arrow.slick-next {
        display: flex;
        align-items: center;
        background-color: red;
        right: 50px;
        z-index: 10;
        width: 50px;
        height: 50px;
        border-radius: 25px;
    }
    
    button.slick-arrow.slick-prev {
        display: flex;
        align-items: center;
        background-color: red;
        left: 50px;
        z-index: 20;
        width: 50px;
        height: 50px;
        border-radius: 25px;
    }
  }


/* Start tailwind code is below */
@tailwind base;
@tailwind components;
@tailwind utilities;




/* You should write your base class here. like h1,h2,p etc */
@layer base{

}

/* Please write here your custom components here */
@layer components{
    .width-control-container{
        @apply  max-w-[1200px] mx-auto;
    }
    .bg-video{
        @apply fixed;
    }
    .responsive-grid-dishes{
        @apply mt-[50px] mx-8 grid grid-cols-1  gap-8 sm:grid sm:grid-cols-2 lg:grid lg:grid-cols-3  xl:grid xl:grid-cols-4 justify-center;
    }
    .dish-stock {
        @apply absolute top-3 right-4 z-20 text-white text-center text-[13px] md:text-2xl lg:text-[15px] bg-orange-500 px-2 py-1 rounded-[15px_50px] w-[80px] h-[30px];
    }
    .background{
        @apply  bg-white ring-4 ring-orange-500 w-10 h-10 flex justify-center items-center rounded-full;
    }
    .icon-effect{
        @apply hover:scale-110 duration-75 hover:bg-orange-500 hover:ring-white;
    }
    .responsive-active-link-border{
        @apply border-b-2 border-black sm:border-b-4 sm:border-black md:border-b-8 md:border-black
    }
    .mobileapp-container{
        @apply flex flex-col-reverse sm:flex sm:flex-row ;
    }
    .hide-hover-icons{
     @apply text-4xl sm:text-2xl lg:text-xl xl:text-lg grid grid-cols-3 gap-12 place-items-center absolute transform -translate-x-1/2 -translate-y-1/2  top-1/2 left-1/2
    }
    .testimonial-container{
        @apply   flex flex-col  justify-center items-center gap-2;
    }
    .review-img-div{
        @apply  overflow-hidden w-[100px] h-[100px]   md:w-[150px] md:h-[150px] lg:w-[320px] lg:h-[280px];
    }
    .review-img-div img{
        @apply w-full h-full  rounded-full lg:rounded-xl object-cover object-top;
    }
    .formula-img-div{
        @apply overflow-x-hidden w-full h-[150px] sm:h-[200px] md:h-[250px];
    }
    .formula-img-div img{
        @apply  w-[100%] h-[100%] rounded-lg object-cover object-center;
    }
}

/* You can make your own utilities class here. Let's go... */
@layer utilities {

}

