@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

*{
    box-sizing: border-box;
}

.body{
    margin:0;
    padding: 0;
}


.card-section:hover .card-hover-structure{
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    /* box-shadow: 0px 10px 1px #fdba74, 0 10px 20px rgba(204, 204, 204, 1); */
}
.card-section:hover{
    box-shadow:  #fdba74 0px 10px 20px, #FB923C  0px 6px 6px;
}

.card-section:hover .stock{
    transform: rotate3d(0, 0, 1, 360deg);
    transition: transform 1s;
}

.hide-element{
    visibility: hidden;
    font-size: 1vw;
}

.card-section:hover .hide-element{
    visibility: visible;
}


button.slick-arrow.slick-next {
    color: black;
    background-color: orange;
    right: -10px;
}

button.slick-arrow.slick-prev {
    color: black;
    background-color: orange;
    left: -10px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;




/* You should write your base class here. like h1,h2,p etc */
@layer base{

}

/* Please write here your custom components here */
@layer components{
    .width-control-container{
        @apply max-w-[1000px] lg:max-w-[1200px] mx-auto;
    }
    .bg-video{
        @apply fixed;
    }
    .responsive-grid-dishes{
        @apply mt-[50px] mx-8 grid grid-cols-1  gap-8 sm:grid sm:grid-cols-2 lg:grid lg:grid-cols-4  justify-center;
    }
    .dish-stock {
        @apply absolute top-3 right-4 z-20 text-white text-center text-lg bg-orange-500 px-2 py-1 rounded-[15px_50px] w-[80px] h-[30px];
    }
    .background{
        @apply  bg-white ring-4 ring-orange-500 w-10 h-10 flex justify-center items-center rounded-full;
    }
    .icon-effect{
        @apply hover:scale-110 duration-75 hover:bg-orange-500 hover:ring-white;
    }
    .responsive-active-link-border{
        @apply border-b-2 border-blue-800 sm:border-b-4 sm:border-rose-500
    }
    .mobileapp-container{
        @apply grid grid-cols-2 ;
    }
    .testimonial-container{
        @apply  flex flex-row justify-center items-center gap-2;
    }
    .review-img-div{
        @apply  overflow-hidden w-[200px] h-[250px];
    }
    .review-img-div img{
        @apply w-full h-full  object-cover object-top;
    }
    .formula-img-div{
        @apply relative overflow-hidden w-full h-[250px];
    }
    .formula-img-div img{
        @apply absolute top-0 w-full h-full  rounded-lg object-cover object-center hover:scale-125 duration-500 ;
    }
    .slick-next, .slick-arrow{
        @apply text-black bg-slate-950;
    }
}

/* You can make your own utilities class here. Let's go... */
@layer utilities {

}

