@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

*{
    box-sizing: border-box;
}

.body{
    margin:0;
    padding: 0;
}
.card-section:hover .card-hover-structure{
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.card-section:hover .stock{
    transform: rotate3d(0, 0, 1, 360deg);
    transition: transform 1s;
}

.hide-element{
    visibility: hidden;
    font-size: 1vw;
}

.card-section:hover .hide-element{
    visibility: visible;
}


@tailwind base;
@tailwind components;
@tailwind utilities;



/* Start styling below */

/* You should write your base class here. like h1,h2,p etc */
@layer base{

}

/* Please write here your custom components here */
@layer components{
    .width-control-container{
        @apply max-w-[1000px] lg:max-w-[1200px] mx-auto
    }
    .bg-video{
        @apply fixed;
    }
    .responsive-grid-dishes{
        @apply mt-[50px] px-16 grid grid-cols-1  gap-8 sm:grid sm:grid-cols-2 lg:grid lg:grid-cols-4 text-sm justify-center;
    }
    .dish-stock {
        @apply absolute top-3 right-4 z-20 text-white text-center text-lg bg-orange-500 px-2 py-1 rounded-[15px_50px] w-[80px] h-[30px];
    }
    .background{
        @apply  bg-white ring-4 ring-orange-500 w-10 h-10 flex justify-center items-center rounded-full;
    }
    .icon-effect{
        @apply hover:scale-110 duration-300 hover:bg-orange-500 hover:ring-white;
    }
    .element-alignment{
        @apply relative top-[50%] translate-y-[-50%] px-12
    }
    .mobileapp-container{
        @apply grid grid-cols-2  mt-16 lg:mt-24 lg:mb-40 ;
    }
    .testimonial-container{
        @apply  flex flex-row justify-center items-center gap-6 ;
    }
    .review-img-div{
        @apply  overflow-hidden w-[200px] h-[250px];
    }
    .review-img-div img{
        @apply w-full h-full  object-cover object-top;
    }
 
}

/* You can make your own utilities class here. Let's go... */
@layer utilities {

}

